#ingreso-datos {
    height: 70px;
    background-color: #ffffff;
    border: #e7e7e7 1px solid;
    display: flex;
    box-shadow: 0 0 5px rgb(222, 222, 222);
}

#centrar-datos {
    width: 90%;
    margin: auto;
    text-align: center;
}   

#operacion {
    padding: 6px;
    font-size: 20px;
}

.datos-form {
    outline: none;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    padding: 9px;
    border-radius: 5px;
}

#descripcion {
    width: 400px;
}

#cantidad {
    width: 100px;
}

#operacion {
    border-radius: 5px;
}

#operacion, #descripcion, #cantidad {
    margin-right: 15px;
    border: 1px solid rgb(165, 165, 165);
    transition: border .2s;
}

#operacion:focus, #descripcion:focus, #cantidad:focus {
    border: 2px solid #4154f1;
    /*28B9B5*/
}

#enviar-datos {
    cursor: pointer;
    border: none;
    font-size: 30px;
    width: 30px;
    height: 30px;
    color: black;
    border-radius: 50%;
    background-color: transparent;

}

#enviar-datos:active {
    transform: translate(0, 5px); 
    box-shadow: 0 5px 4px #969696;
}
